@import 'config';
@import 'menu';

*
{
    box-sizing: border-box;
}

body {

  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Heading

h1,h2,h3
{
    margin: 0;
    font-weight: 400;

    &.lg-heading
    {
       font-size: 4rem;        
    }

    &.sm-heading
    {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2),0.5);
    }

}

a
{
    color: white;
    text-decoration: none;
}

header
{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondry
{
    color: $secondary-color;
}

main
{
    padding: 6rem;
    height: 100%;


    .icons
    {
        margin-top: 1rem;
        

        a 
        {
            color: set-text-color($primary-color);
            padding: 0.4rem;

            &:hover
            {
                color: $secondary-color;
                @include easeOut();
               
            }
        }
    }
    &#home
    {
        overflow: hidden;
        h1{
            margin-top: 15vh;
        }
    }
  
}


.about-info
{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 'skill1 skill2 skill3 ';
    grid-template-columns: repeat(3,1fr);
}

.bio-image
{
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}
.bio 
{
    grid-area: bio;
    font-size: 1.5rem;
}
.skill1 
{
    grid-area: skill1;
}
.skill2
{
    grid-area: skill2;
}
.skill3
{
    grid-area: skill3;
}
.skill 
{
    background: lighten($primary-color,5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

// project css
.projects
{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3,1fr);
    img 
    {
        width: 100%;
        border: 3px white solid;

        &:hover
        {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}
// contact
.boxes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    
    
    div
    {
      
        font-size: 1.5rem;
        border: 3px white solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;

        @include easeOut;

        &:hover
        {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color:set-text-color($secondary-color);

            span
            {
                color:set-text-color($secondary-color);
            }
        }
    }
}

// buttons 
.btn 
{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.7rem;

    &:hover
    {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }

}
.btn-dark
{
    @extend .btn;
    background: darken($primary-color,50);
    color:white;
}
.btn-light
{
    @extend .btn;
    background: lighten($primary-color,50);
    color:black;
}
@import 'mobile';